[{morning,[
     {redis, [morning_redis]},
     {token_ttl, 7200}, 
     {mysql, [{host,"rm-8vb692im779wye63y.mysql.zhangbei.rds.aliyuncs.com"},
             {database,"morning_one"},
             {password,"Cxb123456"},
             {user,"mrchenxinbo"},
             {port, 3306},
             {query_timeout,3000},
             {pool_size,6}]},
      {morning_redis,
             [
              {host,"r-8vbq71ev2f387m5hfu.redis.zhangbei.rds.aliyuncs.com"},
              {port,6379},
              {db,0},
              {password,"mrchenxinbo:Cxb123456"},
              {pool_size,20},
              {ttl_keepalive_secs,86400},
              {redis_timeout,1000},
              {type,redis}]}

]}

].