{model_define, morning_user_info, "用户信息表", disc,
    [
        {model_attr,    uid,                s,      int,                    11,     0,  notnull,         0,      [auto],         "uid"},
        {model_attr,    nickname,           s,      varchar,                100,    0,  notnull,        "",      [],         "昵称"},
        {model_attr,    unionid,            s,      varchar,                100,    0,  notnull,        "",      [],         "unionid 唯一id"},
        {model_attr,    password,           s,      varchar,                100,    0,  null,           "",      [],         "密码"},
        {model_attr,    channel,            s,      int,                    3,      0,  notnull,        0,      [],         "渠道"},
        {model_attr,    create_ts,          s,      bigint,                 20,     0,  notnull,        0,      [],        "创建时间"},
        {model_attr,    update_ts,          s,      bigint,                 20,     0,  notnull,        0,      [],        "更新时间"}
    ],
    [uid],
    [unionid, channel],
    innodb,
    []
}.

{model_define, stage_level_config, "关卡表", proto,
    [
        {model_attr,    id,                s,      int,                    5,     0,  notnull,         0,      [],         "id"},
        {model_attr,    time,              s,      int,                    6,     0,  notnull,         0,      [],         "次数"},
        {model_attr,    type,              s,      int,                    5,     0,  notnull,         0,      [],         "类型"},
        {model_attr,    paramas,           s,      varchar,                250,   0,  notnull,         "",     [],         "参数"},
        {model_attr,    missionid,         s,      int,                    5,     0,  notnull,         0,     [],          "任务id"}

    ],
    [id],
    [],
    innodb,
    []
}.

{model_define, role_stage_info, "关卡信息表", disc,
    [
        {model_attr,    uid,                s,      int,                    11,     0,  notnull,         0,      [],         "uid"},
        {model_attr,    mission,            s,      int,                    6,     0,  notnull,          0,      [],         "当前关卡"},
        {model_attr,    score,              s,      int,                    11,     0,  notnull,         0,      [],         "分数"},
        {model_attr,    max_score,          s,      int,                    11,     0,  notnull,         0,      [],         "最大分数"},
        {model_attr,    update_ts,          s,      bigint,                 20,     0,  notnull,         0,      [],         "更新时间"}

    ],
    [uid],
    [],
    innodb,
    []
}.

{model_define, item_config, "物品表", proto,
    [
        {model_attr,    id,                s,      int,                    5,     0,  notnull,         0,      [],         "id"},
        {model_attr,    type,              s,      int,                    5,     0,  notnull,         0,      [],         "类型"},
        {model_attr,    icon,              s,      varchar,                50,   0,  notnull,         "",     [],          "icon"}

    ],
    [id],
    [],
    innodb,
    []
}.

{model_define, role_inventory_info, "背包信息表", disc,
    [
        {model_attr,    id,                s,      int,                    11,     0,  notnull,         0,      [auto],         "id"},
        {model_attr,    uid,               s,      int,                    11,     0,  notnull,         0,      [],             "uid"},
        {model_attr,    proto_id,          s,      int,                    11,     0,  notnull,         0,      [],             "当前关卡"},
        {model_attr,    count,             s,      int,                    11,     0,  notnull,         0,      [],             "分数"},
        {model_attr,    update_ts,         s,      bigint,                 20,     0,  notnull,         0,      [],             "更新时间"}

    ],
    [id],
    [uid],
    innodb,
    []
}.
